root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
curly_bracket_next_line = false
spaces_around_operators = true

[*.js]
quote_type = double

[*.{js,js.template,py}]
indent_size = 4

[*.{markdown,md}]
trim_trailing_whitespace = false
