argostranslate==1.7.0
Flask==2.2.2
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
Flask-Limiter==2.6.3
waitress==2.1.2
expiringdict==1.2.2
pyicu>=2.8
pycld2==0.41
morfessor==2.0.6
polyglot==16.7.4
appdirs==1.4.4
APScheduler==3.9.1
translatehtml==1.5.2
argos-translate-files==1.1.0
itsdangerous==2.1.2
Werkzeug==2.2.2
requests==2.28.1
redis==4.3.4
