<html>
<head>
    <title>jslicense-labels1 for LibreTranslate</title>
</head>
<body>
    <h3>Weblabels</h3>
    <table id="jslicense-labels1" border="1">
        <tr>
            <td><a href="{{ url_for('static', filename='js/vue@2.js') }}">Vue.js</a></td>
            <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('static', filename='js/prism.min.js') }}">prism.min.js</a></td>
            <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('static', filename='js/materialize.min.js') }}">materialize.min.js</a></td>
            <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        </tr>
    </table>
</body>
</html>