<html>
<head>
    <title>jslicense-labels1 for LibreTranslate</title>
</head>
<body>
    <h3>Weblabels</h3>
    <table id="jslicense-labels1" border="1">
        <tr>
            <td><a href="{% if offline %}{{ url_for('static', filename='js/vue@2.js') }}{% else %}https://cdn.jsdelivr.net/npm/vue@2{% endif %}">Vue.js</a></td>
            <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        </tr>
        <tr>
            <td><a href="{% if offline %}{{ url_for('static', filename='js/prism.min.js') }}{% else %}https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js{% endif %}">prism.min.js</a></td>
            <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        </tr>
        <tr>
            <td><a href="{% if offline %}{{ url_for('static', filename='js/materialize.min.js') }}{% else %}https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js{% endif %}">materialize.min.js</a></td>
            <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        </tr>
    </table>
</body>
</html>